#slide-1 {
    background: url('title-bg-min.jpg');
    background-size: cover;
    color: #ededed;
}
#slide-1 h1, #slide-1 h2 {
    text-shadow: 0px 0px 12px #444;
}
#slide-1 h1 {
    margin-top: 12vh;
    font-size: 6em;
}
#slide-1 h2 {
    font-size: 1.5em;
}


pre {
    font-family: "Hack";
    line-height: 1;
    font-size: 100%;
}
